<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soladuor.mapper.FileTypeMapper">
    <resultMap id="BaseResultMap" type="com.soladuor.pojo.FileType">
        <!--  -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type_name" jdbcType="VARCHAR" property="typeName"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--  -->
        DELETE FROM ssm_lab1_file_type
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.soladuor.pojo.FileType">
        <!--  -->
        INSERT INTO ssm_lab1_file_type (id, type_name)
        VALUES (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.soladuor.pojo.FileType">
        <!--  -->
        UPDATE ssm_lab1_file_type
        SET type_name = #{typeName,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--  -->
        SELECT id, type_name
        FROM ssm_lab1_file_type
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        <!--  -->
        SELECT id, type_name
        FROM ssm_lab1_file_type
    </select>
</mapper>
