<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soladuor.mapper.FileSpaceMapper">
    <resultMap id="BaseResultMap" type="com.soladuor.pojo.FileSpace">
        <!--  -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="space_size" jdbcType="DOUBLE" property="spaceSize"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--  -->
        DELETE FROM ssm_lab1_file_space
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.soladuor.pojo.FileSpace">
        <!--  -->
        INSERT INTO ssm_lab1_file_space (id, user_id, space_size
        )
        VALUES (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{spaceSize,jdbcType=DOUBLE}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.soladuor.pojo.FileSpace">
        <!--  -->
        UPDATE ssm_lab1_file_space
        SET user_id = #{userId,jdbcType=INTEGER},
        space_size = #{spaceSize,jdbcType=DOUBLE}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--  -->
        SELECT id, user_id, space_size
        FROM ssm_lab1_file_space
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        <!--  -->
        SELECT id, user_id, space_size
        FROM ssm_lab1_file_space
    </select>
</mapper>
